body {
    font-family: 'Merriweather', serif;
}


.home {
    height: 100vh;
    background-image: url('../img/Home-Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #002341;
    padding: 20px;
    text-align: left;
}

.content {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0;
}

.main-heading {
    font-size: 2.5rem;
    margin: 0;
}

.sub-heading {
    font-size: 1.5rem;
    margin: 10px 0;
}

.divider {
    width: 100%;
    margin: 10px 0;
    border: 1px solid #002341;
}

.description {
    font-size: 1rem;
    margin: 10px 0;
}

.moreinfo {
    background: #002341;
    background: linear-gradient(0deg, #002341 0%, #002341 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
}

.moreinfo span {
    color: white;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.moreinfo:before,
.moreinfo:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.moreinfo:before {
    height: 0%;
    width: 2px;
}

.moreinfo:after {
    width: 0%;
    height: 2px;
}

.moreinfo:hover {
    background: transparent;
    box-shadow: none;
}

.moreinfo:hover:before {
    height: 100%;
}

.moreinfo:hover:after {
    width: 100%;
}

.moreinfo span:hover {
    color: rgba(2, 126, 251, 1);
}

.moreinfo span:before,
.moreinfo span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.moreinfo span:before {
    width: 2px;
    height: 0%;
}

.moreinfo span:after {
    width: 0%;
    height: 2px;
}

.moreinfo span:hover:before {
    height: 100%;
}

.moreinfo span:hover:after {
    width: 100%;
}

/*====================================================================*/

:root {
    --color-1: #002341;
    --color-2: #E2AD68;
    --color-3: #002341;
    --line-contrast: 500%;
    --photo-brightness: 90%;
    --photo-contrast: 150%;
    --photo-blur: 3px;
    --blend-mode: screen;
    --point-size: 1px;
    --point-color: #002341;
    --point-spacing: 8px;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: var(--color-1);
}

::-webkit-scrollbar-button {
    background-color: var(--color-1);
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: var(--color-2);
}

*,
*:after,
*::before {
    box-sizing: border-box;
}

html,
body {
    background-image: url("data:image/svg+xml,<svg>...</svg>");
    user-select: none;
    font-family: 'Switzer', sans-serif;
}

.container {
    padding: 3rem 0;
    margin: 0 auto;
    width: 80vw;
}

.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    border-radius: 2rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    background: #002341;
}

.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    overflow: hidden;
    mix-blend-mode: var(--blend-mode);
    filter: grayscale(1) saturate(0) brightness(var(--photo-brightness)) contrast(var(--photo-contrast));
    transition: flex 0.4s cubic-bezier(.32, .79, .38, .99), filter 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000);
}

.item:hover {
    flex: 7;
    filter: grayscale(0) saturate(1.3) blur(0px);
}

.item:hover .caption {
    opacity: 1;
}

.item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: radial-gradient(circle closest-side, var(--point-color) var(--point-size), transparent var(--point-size));
    background-size: var(--point-spacing) var(--point-spacing);
    filter: contrast(var(--line-contrast));
    transition: opacity .2s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    opacity: .3;
    pointer-events: none;
}

.item:hover:before {
    opacity: 0;
}

.caption {
    position: fixed;
    left: .5rem;
    right: .5rem;
    bottom: 0;
    margin: 1rem;
    padding: 1rem;
    color: #eee;
    border: solid 1px rgba(255, 255, 255, 0.25);
    border-radius: 2rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    transition: opacity 0.2s ease, backdrop-filter 3s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    opacity: 0;
}

.caption:hover {
    backdrop-filter: blur(0px);
}

.item-1 {
    border-radius: 2rem 0 0 2rem;
    background-image: url('https://images.pexels.com/photos/1647962/pexels-photo-1647962.jpeg');
}

.item-2 {
    background-image: url('https://images.pexels.com/photos/4780712/pexels-photo-4780712.jpeg');
}

.item-3 {
    background-image: url('https://images.pexels.com/photos/1647970/pexels-photo-1647970.jpeg');
}

.item-4 {
    background-image: url('https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg');
}

.item-5 {
    border-radius: 0 2rem 2rem 0;
    background-image: url('https://images.pexels.com/photos/1670845/pexels-photo-1670845.jpeg');
}

.btn-social-cp {
    --dim: 30px;
    position: fixed;
    bottom: var(--dim);
    right: var(--dim);
    height: var(--dim);
    width: var(--dim);
}

.btn-social-cp svg path {
    transition: all 2s ease;
    fill: #ffdd40;
}

.btn-social-cp:hover svg path {
    fill: #fff;
}