body {
    font-family: 'Merriweather', serif;
}


.home {
    height: 100vh;
    background-image: url('../img/Home-Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #002341;
    padding: 20px;
    text-align: left;
}

.content {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0;
}

.main-heading {
    font-size: 2.5rem;
    margin: 0;
}

.sub-heading {
    font-size: 1.5rem;
    margin: 10px 0;
}

.divider {
    width: 100%;
    margin: 10px 0;
    border: 1px solid #002341;
}

.description {
    font-size: 1rem;
    margin: 10px 0;
}

.moreinfo {
    background: #002341;
    background: linear-gradient(0deg, #002341 0%, #002341 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
}

.moreinfo span {
    color: white;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.moreinfo:before,
.moreinfo:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.moreinfo:before {
    height: 0%;
    width: 2px;
}

.moreinfo:after {
    width: 0%;
    height: 2px;
}

.moreinfo:hover {
    background: transparent;
    box-shadow: none;
}

.moreinfo:hover:before {
    height: 100%;
}

.moreinfo:hover:after {
    width: 100%;
}

.moreinfo span:hover {
    color: rgba(2, 126, 251, 1);
}

.moreinfo span:before,
.moreinfo span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.moreinfo span:before {
    width: 2px;
    height: 0%;
}

.moreinfo span:after {
    width: 0%;
    height: 2px;
}

.moreinfo span:hover:before {
    height: 100%;
}

.moreinfo span:hover:after {
    width: 100%;
}